#footerLogo {
  height: 2rem;
  width: 12rem;
  margin-left: 4rem;
}

#footerContainer {
  background-color: whitesmoke;
  height: 4.5rem;
  font-size: 12px;
  text-align: center;
  width: 100%;
  padding: 5rem;
}

/* Mobile */
#mobileFooterContainer {
  background-color: whitesmoke;
  height: 4.5rem;
  font-size: 12px;
  text-align: center;
  width: 100%;
  /* padding-top: 5rem; */
}

#mobileFooterLogo {
  height: 2rem;
  width: 12rem;
  /* margin-left: 4rem; */
}
