.App-link {
  color: #61dafb;
}

#navbar {
  background-color: #fff;
  padding: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

#logo {
  height: 2.5rem;
  width: 15rem;
}

#link {
  color: #444654;
}

#link:hover {
  background-color: #ff4040;
  border-radius: 10px;
}

/* Mobile */
#mobileNavbar {
  background-color: #fff;
  padding: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
